[submodule "udagram-frontend"]
	path = udagram-frontend
	url = https://github.com/classic-k/Udagram-Frontend
[submodule "udagram-proxy"]
	path = udagram-proxy
	url = https://github.com/classic-k/Udagram-Proxy
[submodule "udagram-api-user"]
	path = udagram-api-user
	url = https://github.com/classic-k/Udagram-API-User
[submodule "udagram-api-feed"]
	path = udagram-api-feed
	url = https://github.com/classic-k/Udagram-API-Feed
