[submodule "udagram-frontend"]
	path = frontend
	url = https://github.com/classic-k/Udagram-Frontend
[submodule "udagram-proxy"]
	path = reverseproxy
	url = https://github.com/classic-k/Udagram-Proxy
[submodule "udagram-api-user"]
	path = api-user
	url = https://github.com/classic-k/Udagram-API-User
[submodule "udagram-api-feed"]
	path = api-feed
	url = https://github.com/classic-k/Udagram-API-Feed
